@import "reset.css";
@import "background.css";

@import "first-box/first-box.css";
@import "second-box/second-box.css";
@import "third-box/third-box.css";
@import "fourth-box/fourth-box.css";

.hidden {
  visibility: hidden;
}
.control {
  width: 100vw;
  height: 100vh;
}
