#login-form {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.login-form__second {
  margin-left: 10px;
}
#greeting {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
