.fourth-box {
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
#quote {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.sentence {
  display: block;
  justify-content: center;
}
.writer {
  display: block;
  justify-content: center;
  align-items: flex-end;
}
